---
layout: default
---

<header class="header-page">
    <h1 class="page-title">{{page.title}}</h1>
    {% if page.last_modified_at %}
      <div class="page-date"><span>{{page.last_modified_at | date: '%Y, %b %d'}}&nbsp;&nbsp;&nbsp;&nbsp;</span></div>
    {% else %}
      <div class="page-date"><span>{{page.date | date: '%Y, %b %d'}}&nbsp;&nbsp;&nbsp;&nbsp;</span></div>
    {% endif %}
  </header>

{{ content }}

<div class="col-lg-8 col-md-10 mx-auto">
  <hr/>
  <script src="https://utteranc.es/client.js"
        repo="tnfhrnsss/tnfhrnsss.github.io"
        issue-term="url"
        theme="boxy-light"
        crossorigin="anonymous"
        async>
</script>
</div>

